<div class="jumbotron  container bg-secondary text-white">
        <h1>Text to catch user attention/greeting.</h1>
        <p class="lead">lorem ipsum.</p>
  
        <hr class="my-4">
          
        <p>Some dummy text</p>
    </div>